fastapi
uvicorn
confluent-kafka
pandas
reportlab
qrcode
supabase
redis
slowapi
python-dotenv
websockets
Pillow
google-generativeai
bcrypt
numpy
scikit-learn
python-jose[cryptography]
requests
urllib3
joblib
